{% extends 'store/main.html' %}
{% load static %}

{% block content %}

    <h1>Store</h1>

    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <div class="box-element product">
                <img class="thumbnail" src="{{ product.imageURL }}"/>
                <h5>{{ product.name }}</h5>
                <button class="btn btn-outline-primary update-cart" data-product="{{ product.id }}" data-action="add">Add <img class="imgCart2" src="{% static 'img/cart.png' %}"></button>
                <a class="btn btn-outline-success" href="#">View</a>

                <h5 style="display: inline-block; float: right;"><strong>{{ product.price | floatformat:2 }} PLN</strong></h5>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}